.App {
  text-align: center;
}

.formField{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid rgb(117, 64, 185);
  border-radius: 5px;
  box-sizing: border-box;
}

.button2 {
  background-color: #008CBA; 
  color: rgb(255, 255, 255); /*#008CBA */
  
  padding: 2% 10%;
  border: 2px solid rgb(255, 255, 255);
}

.button2:hover {
  background-color: rgb(229, 233, 245);
  color: rgb(117, 64, 185);
  border: 2px solid rgb(117, 64, 185);
}

